@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #d1cece; /* Set to pure black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Dark mode background */
    --foreground: #2d2c2c; /* Light gray for dark mode text */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
